sam/statemachine/statemachine.asl.json
{
  "StartAt": "PDWDownloader",
  "States": {
    "PDWDownloader": {
      "Type": "Task",
      "Resource": "${PDWDownloaderFunctionArn}",
      "ResultSelector": {
        "s3.$": "$.s3"
      },
      "ResultPath": "$.PDWDownloaderOutput",
      "Next": "CreateIndex"
    },
    "CreateIndex": {
      "Type": "Task",
      "Resource": "${CreateIndexFunctionArn}",
      "InputPath": "$",
      "ResultSelector": {
        "indexName.$": "$.indexName"
      },
      "ResultPath": "$.CreateIndexOutput",
      "Next": "Batcher"
    },
    "Batcher": {
      "Type": "Task",
      "Resource": "${BatcherFunctionArn}",
      "Parameters": {
        "indexName.$": "$.CreateIndexOutput.indexName",
        "s3.$": "$.PDWDownloaderOutput.s3"
      },
      "ResultPath": "$.batcherOutput",
      "Next": "ProcessChunks"
    },
    "ProcessChunks": {
      "Type": "Map",
      "ItemsPath": "$.batcherOutput.batches",
      "ResultPath": null,
      "Parameters": {
        "indexName.$": "$.CreateIndexOutput.indexName",
        "batch.$": "$$.Map.Item.Value"
      },
      "MaxConcurrency": 350,
      "Iterator": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "Consumer",
        "States": {
          "Consumer": {
            "Type": "Task",
            "ResultPath":null,
            "Resource": "${ConsumerFunctionArn}",
            "End": true
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "MaxAttempts": 3
        }
      ],
      "Next": "Scoring"
    },
    "Scoring": {
      "Type": "Task",
      "Resource": "${ScoringFunctionArn}",
      "Parameters": {
        "indexName.$": "$.CreateIndexOutput.indexName",
        "s3.$": "$.PDWDownloaderOutput.s3"
      },
      "ResultPath": "$.scoringOutput",
      "Next": "PostProcessor"
    },
    "PostProcessor": {
      "Type": "Task",
      "Resource": "${AliasMigrationFunctionArn}",
      "Parameters": {
        "indexName.$": "$.CreateIndexOutput.indexName",
        "s3.$": "$.PDWDownloaderOutput.s3"
      },
      "End": true
    }
  }
}